[MASTER]
init-hook='import sys; sys.path.append("./src")'
ignore=LICENSE,
    pyproject.toml,
    README.md,
    requirements/,
    pytest.ini,
    setup.cfg,
    pytest-coverage.txt,
    test-report.xml
ignore-paths=dist,
    fild.egg-info

py-version=3.7
suggestion-mode=yes

[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring

[BASIC]
good-names=i,
           j,
           k,
           ex,
           tz,
           Run,
           _

[DESIGN]
max-args=10
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-positional-arguments=10
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=0
